<!-- <footer class="footer bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-1">
        <h5 class="footer-title">About HandyHub</h5>
        <p class="lh-lg flex-wrap">
          HandyHub is a marketplace for unique, handmade products. It connects
          creative artisans with customers seeking original, handcrafted goods.
          Whether you're selling your creations or buying one-of-a-kind items,
          HandyHub celebrates creativity and craftsmanship.
        </p>
      </div>

      <div class="col-lg-2 mb-4 lh-lg ms-5">
        <h5 class="footer-title">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-light">Home</a></li>
          <li><a href="/about" class="text-light">About Us</a></li>
          <li><a href="/services" class="text-light">Services</a></li>
          <li><a href="/contact" class="text-light">Contact Us</a></li>
          <li><a href="/faqs" class="text-light">FAQs</a></li>
        </ul>
      </div>

      <div class="col-lg-3  mb-4 space contact">
        <h5 class="footer-title">Contact Us</h5>
        <p><i class="fas fa-envelope"></i> info@handyhub.com</p>
        <p><i class="fas fa-phone"></i> +1 (555) 123-4567</p>
        <p>
          <i class="fas fa-map-marker-alt"></i> 123 HandyHub Lane, Cityville,
          USA
        </p>
        <div class="social-icons mt-3">
          <a href="#" class="text-light me-2"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="#" class="text-light me-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light me-2"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" class="text-light"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="row ms-5 align-items-center">
        <hr>
        <div class="col d-flex justify-content-between align-items-center">
          <p class="mb-0 mt-3 text-start ">&copy; 2024 HandyHub. All Rights Reserved.</p>
          
          <div class="payment-img d-flex justify-content-end">
            <img src="/images/paypal.png" class="payment me-2">
            <img src="/images/payoneer.png" class="payment me-2">
            <img src="/images/visa.png" class="payment">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->
