<div class="sidebar">
  <nav class="side-nav">
    <div class="bars hamburger-menu">
      <i class="fa-solid fa-bars"></i>
    </div>
    <a href="/user/dashboard">
    <div class="user">
      <i class="fa-regular fa-user"></i>
    </div>
  </a>
    <div class="like">
      <i class="fa-regular fa-heart"></i>
    </div>
    <div class="cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
  </nav>
</div>

<div class="category-sidebar">
  <div class="category-top">
    <h4 class="cat-head">All Category</h4>
    <div class="arrow">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
  </div>
  <div class="all-items">
    <a href="/products/filter/HomeDecore">
    <div class="subItems">
      <img src="/images/home-decore.jpg" class="itemImg">
      <p class="item-name">Home Decore</p>
    </div>
  </a>

    <a href="/products/filter/jewellery">
    <div class="subItems">
      <img src="/images/jewelery.jpg" class="itemImg">
      <p class="item-name">jewellery</p>
    </div>
    </a>
    
    <a href="/products/filter/FashionAccessories">
    <div class="subItems">
      <img src="/images/Fashion Accessories.jpg" class="itemImg">
      <p class="item-name">Fashion Accessories</p>
    </div>
  </a>

  <a href="/products/filter/PersonalCare">
    <div class="subItems">
      <img src="/images/personalCare.jpg" class="itemImg">
      <p class="item-name">Personal Care</p>
    </div>
  </a>

  <a href="/products/filter/CraftandDiykit">
    <div class="subItems">
      <img src="/images/Craft and diy Kit.jpg" class="itemImg">
      <p class="item-name">Craft and diy Kit</p>
    </div>
  </a>

  <a href="/products/filter/KitchenItem">
    <div class="subItems">
      <img src="/images/kitcen-item.jpg" class="itemImg">
      <p class="item-name">Kitchen item</p>
    </div>
  </a>  

  <a href="/products/filter/HomeMadeFood">
    <div class="subItems">
      <img src="/images/home-made-food.jpg" class="itemImg">
      <p class="item-name">Home Made Food</p>
    </div>
  </a>
  </div>
</div>
