<% layout("/layouts/boilerplate") -%>

<div class="row offset-1 d-flex align-items-center justify-content-end">
  <div class="col-md-3 col-12 list-group bg-light mt-5">
    <ul>
      <li
        class="list-group-item list-group-item-action p-4 text-center fw-bold"
      >
        <a href="">My Profile</a>
      </li>
    </ul>
    <ul>
      <li
        class="list-group-item list-group-item-action p-4 text-center fw-bold"
      >
        <a href="">My orders</a>
      </li>
    </ul>
    <ul>
      <li
        class="list-group-item list-group-item-action p-4 text-center fw-bold"
      >
        <a href="">Selled Products</a>
      </li>
    </ul>

    <ul>
      <li
        class="list-group-item list-group-item-action p-4 text-center fw-bold"
      >
        <a href="">Account Setting</a>
      </li>
    </ul>

    <% if(currUser) { %>
    <ul>
      <li
        class="list-group-item list-group-item-action p-4 text-center fw-bold"
      >
        <a class="active" aria-current="page" href="/logout">logout</a>
      </li>
    </ul>

    <% } %>
  </div>

  <div
    class="col-12 col-md-9 d-flex justify-content-center align-items-center mb-5 mb-md-1"
  >
    <h1>Welcome!</h1>
  </div>
</div>
