<% layout("/layouts/boilerplate") -%>
<body style="margin: 0 !important; padding: 0 !important;">
    <div class="home">
        <img src="https://i.pinimg.com/736x/c2/fd/ac/c2fdac4b4bfd43882cbd4a54379bc44b.jpg" alt="Background" class="bg-img">
        <h1>Handcrafted with Heart, <br> Delivered with Love</h1>
        <button class="btn btn-primary">Shop Now</button>
    </div>
</body>
