<% layout("/layouts/boilerplate") -%>
<body style="margin: 0 !important; padding: 0 !important;">
    <div class="home">
        <img src="bg-img.jpg" alt="Background" class="bg-img">
        <h1>Handcrafted with Heart, <br> Delivered with Love</h1>
        <button class="btn btn-primary">Shop Now</button>
    </div>
</body>
