<% layout("/layouts/boilerplate") -%>
<div class="img-box">
    <img src="/images/ProductDetail.png" alt="" class="product-detail-img">
    <h3>You’re just one step away from <br>owning something awesome! </h3>
</div>